
:root {
    --header-height: 45px;
    --nav-position: 48px; 
    --header-color: #1b242f;
    --nav-color:  #5b5f64;
    --hightlight-color: #e31b6d;
    --text-body-color: black;
    --text-header-color: #fff;
}

body {
    background-color: var(--body-color);
    color: var(--text-body-color);
    min-width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: fixed;     
    top: 0;   
    background-color: var(--header-color);
    color: var(--text-header-color);
    width: 100%;

    border-bottom: 3px;
    border-bottom-style: solid;
    height: var(--header-height);
    border-bottom-color: #04c2c9;

    z-index: 10;
}

header h1 {
    position: absolute;
    width: 100%;
    top: 10px;

    font-size: 130%;
    padding-left: 10px;
}

header nav {
    position: absolute;
    width: 100%;
}

header nav ul {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;

    position: relative;
    top: var(--nav-position);
    background-color: var(--nav-color);
}

header .nav-listing-button {
    position: relative;
    font-size: 150%;
    top: 10px;
    left: 90%;
}

header nav ul li {
    list-style-type: none;
    padding: 10px;
    font-size: 120%;
}

header nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}

main {
    position: relative;
    width: 100%;
    top: 165px;
    text-align: center;
    
    z-index: 0;
}

#about {
    color: var(--nav-color);
    padding: 50px 0 75px 0;
}

#about img {
    width: 280px;
    height: auto;
}

.section-header h1 {
    font-size: 200%;
    font-weight: bolder;
}

.section-header .underline-header {
    margin: 8px auto 30px auto;
    border-bottom: 5px;
    border-style: solid;
    width: 50px;
}

.flex-about, 
.flex-projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-me li {
    font-family: 'Courier New', Courier, monospace; 
}

.about-me {
    margin-top: 10px;
}

.about-me h2 {
    font-weight: bold;
    font-size: 180%;
    margin: 0 0 30px 0;
}

.about-me h3 {
    font-weight: bold;
    margin: 25px 0 5px 0;
}

.about-image {
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

#projects {
    color: var(--nav-color);
    background-color: #f5f5f5;
    padding: 50px 0 75px 0;
}

.project {
    position: relative;
    width: 90%;
    height: 300px;
}

.project-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;

    opacity: 1;
    transition: ease 0.5s;
}

.project:first-child {
    width: 100%;
}

.project-text {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #f5f5f5;
    border-style: dashed;
    border-color: var(--hightlight-color);
    border-width: 0.25px;
    top: 0;
    left: 0;
    
    opacity: 0;
    transition: ease-in-out 0.5s;
    z-index: 1;
}

.project-text h2 {
    font-size: 120%;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.project-text div {
    text-align: center;
    border-color: var(--hightlight-color);
    line-height: 150%;
    margin: 0 15%;
    border-style: solid;
    border-width: 2px;
    padding: 10px 0px 10px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project-text div a {
    color: var(--text-body-color);
}

.project:hover .project-image {
    opacity: 0.3;
}

.project:hover .project-text{
    opacity: 0.8;
}

.project:first-child .project-image {
    background-image: url("../images/project-0.png");
}

.project:nth-child(2) .project-image {
    background-image: url("../images//project-1.png");
}

.project:nth-child(3) .project-image {
    background-image: url("../images//project-2.png");
}

.project:nth-child(4) .project-image {
    background-image: url("../images//project-3.png");
}

.project:nth-child(5) .project-image {
    background-image: url("../images//project-4.png");
}

.project:nth-child(6) .project-image {
    background-image: url("../images//project-5.png");
}

.project:nth-child(7) .project-image {
    background-image: url("../images//project-6.png");
}

#contact {
    position: relative;
    width: 100%;
    height: auto;
    color: var(--nav-color);
    margin: 50px 0 75px 0;
}

@media screen and (min-width: 450px) {
    header nav {
        position: relative;
    }

    header nav ul {
        display: flex;
        flex-flow: row;
        top: 0;
        background-color: var(--header-color);
        visibility: visible;
    }

    header nav ul li {
        list-style-type: none;
    }
    
    header .nav-listing-button {
        visibility: hidden;
    }
    
    header h1 {
        visibility: hidden;
    }

    main {
        top: var(--nav-position);
    }

    .flex-about {
        width: 90%;
        margin-left: 5%;
    }

    .flex-projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin-left: 5%;
    }

    .project {
        width: 45%;
        height: 200px;
    }

    .project-image {
        height: 200px;
    }

    .project-text {
        height: 200px;
    }

    .project:first-child {
        width: 60%;
        height: 300px;
    }

    .project:first-child .project-image {
        height: 300px;
    }

    .project:first-child .project-text {
        height: 300px;
    }
}

@media screen and (min-width: 900px) {

    .flex-about {
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        margin-left: 15%;
    }

    .flex-projects {
        width: 70%;
        margin-left: 15%;
    }

    .about-me {
        width: 50%;
    }

    .about-image {
        width: 50%;
    }

    .project {
        width: 33%;
    }

    .project:first-child {
        width: 70%;
    }
}